Csharp/DotNetCodeFirst/DotNetCodeFirst/obj/DotNetCodeFirst.csproj.nuget.dgspec.json
Csharp/DotNetCodeFirst/DotNetCodeFirst/obj/DotNetCodeFirst.csproj.nuget.g.props
Csharp/DotNetCodeFirst/DotNetCodeFirst/obj/DotNetCodeFirst.csproj.nuget.g.targets
Csharp/DotNetCodeFirst/DotNetCodeFirst/obj/project.assets.json
Csharp/DotNetCodeFirst/DotNetCodeFirst/obj/Debug/netcoreapp3.1/DotNetCodeFirst.assets.cache
Csharp/DotNetCodeFirst/DotNetCodeFirst/obj/Debug/netcoreapp3.1/DotNetCodeFirst.csproj.FileListAbsolute.txt
Csharp/DotNetCodeFirst/DotNetCodeFirst/obj/Debug/netcoreapp3.1/DotNetCodeFirst.exe
Csharp/DotNetCodeFirst/DotNetCodeFirst/bin/Debug/netcoreapp3.1/Movies.db
Csharp/DotNetCodeFirst/DotNetCodeFirst/bin/Debug/netcoreapp3.1/Movies.db-shm
Csharp/DotNetCodeFirst/DotNetCodeFirst/bin/Debug/netcoreapp3.1/Movies.db-wal
