solrnet-example/.vs/SolrNetExample/v15/.suo
solrnet-example/.vs/SolrNetExample/v15/Server/sqlite3/storage.ide-wal
solrnet-example/.vs/SolrNetExample/v15/Server/sqlite3/storage.ide-shm
solrnet-example/.vs/SolrNetExample/v15/Server/sqlite3/storage.ide
solrnet-example/.vs/SolrNetExample/v15/Server/sqlite3/db.lock
solrnet-example/SolrNetExample.Web/bin/
solrnet-example/SolrNetExample.Web/obj/project.assets.json
solrnet-example/SolrNetExample.Web/obj/SolrNetExample.Web.csproj.nuget.g.targets
solrnet-example/SolrNetExample.Web/obj/SolrNetExample.Web.csproj.nuget.g.props
solrnet-example/SolrNetExample.Web/obj/SolrNetExample.Web.csproj.nuget.cache
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.RazorAssemblyInfo.cache
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.pdb
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.dll
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.csprojAssemblyReference.cache
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.csproj.FileListAbsolute.txt
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.csproj.CoreCompileInputs.cache
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.AssemblyInfoInputs.cache
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.AssemblyInfo.cs
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.assets.cache
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.RazorTargetAssemblyInfo.cache
solrnet-example/SolrNetExample.Web/obj/Debug/netcoreapp2.2/SolrNetExample.Web.RazorAssemblyInfo.cs
